.header-top a:hover,.tabs-head li.active a,.btn-others li a:hover,.home-2 .nav > li > a:hover, .home-2 .nav .open > a:hover, .home-2 .nav .open > a:focus, .home-2 .nav > li > a:focus, .home-2 .nav .open > a, .home-2 .navbar-main .nav > li.open > a,.product-price,.top-product-price,.btn-others-list li a:hover,.blog-post-col:hover .blog-post a,.special-box:hover a,.footer-widget h5,ul.use_link a:hover,.pposts-info a:hover,.contact_purchase > li a:hover,.footer-menu a:hover  {
  color: #c2a26f;
}
.btn-others li a:hover,.btn-others-list li a:hover,.socila_icon a:hover  {
  border: 1px solid #c2a26f;
}
.btn-add-to-cart {
  background: none repeat scroll 0 0 rgba(194, 162, 111, 0.8);
}
.btn-add-to-cart:hover,.testyslider .flex-control-paging li a.flex-active,.post-meta-home > a,.special-box:hover .special-icon,.socila_icon a:hover {
  background: none repeat scroll 0 0 #c2a26f;
}